<h2>マイページ</h2>

<h2>登録情報</h2>
<%= link_to "編集する" edit_custmer_path %>

<h3>
<%= f.label :氏名 %>
<%= @custmer.last_name&@custmer.first_name %>
</h3>

<h3>
<%= f.label :カナ %>
<%= @custmer.last_name_kana&first_name_kana %>
</h3>

<h3>
<%= f.label :郵便番号 %>
<%= @custmer.postal_code %>
</h3>

<h3>
<%= f.label :住所 %>
<%= @custmer.address %>
</h3>

<h3>
<%= f.label :電話番号 %>
<%= @custmer.telephone_number %>
</h3>

<h3>
<%= f.label :メールアドレス %>
<%= @custmer.email %>
</h3>

<h2>
  配送先 <%= link_to "一覧を見る", custmers_path %>
</h2>

<h2>
  注文履歴 <%= link_to "一覧を見る", order_custmer_path %>
</h2>
