<h2>マイページ</h2>

<h2>登録情報</h2>
<%= link_to "編集する", edit_customer_path(@customer) %>

<h3>
氏名
<%= @customer.last_name %> <%= @customer.first_name %>
</h3>

<h3>
カナ
<%= @customer.last_name_kana && first_name_kana %>
</h3>

<h3>
郵便番号
<%= @customer.postal_code %>
</h3>

<h3>
住所
<%= @customer.address %>
</h3>

<h3>
電話番号
<%= @customer.telephone_number %>
</h3>

<h3>
メールアドレス
<%= @customer.email %>
</h3>

<h2>
  配送先 <%= link_to "一覧を見る", order_details_path %>
</h2>

<h2>
  注文履歴 <%= link_to "一覧を見る", orders_path %>
</h2>
