<h1>商品編集</h1>


<%= form_with model: @item, method: :patch do |f| %>
<h2>商品画像</h2>
<%= f.file_field :item_image, accept: "image/*" %>
<h2>商品名</h2>
<%= f.text_field :name %>
<h2>商品説明</h2>
<%= f.text_area :introduction %>
<h2>ジャンル</h2>
<%= f.purudown :genre_id %>
<h2>税抜価格</h2>
<%= f.text_field :price %>"円"
<h2>販売ステータス</h2>
<%= f.choice :is_active %>

<%= f.submit "変更を保存" %>

<% end %>
