<h1><%= @customer.name %>さんの会員情報編集</h1>

<%= form_with model: @customer, method: :patch do |f| %>
<h2>会員ID</h2>
<%= @customer.id %>
<h2>氏名</h2>
<%= f.text_field :last_name %>
<%= f.text_field :first_name %>
<h2>フリガナ</h2>
<%= f.text_field :last_name_kane %>
<%= f.text_field :first_name_kana %>
<h2>郵便番号</h2>
<%= f.text_field :postal_code %>
<h2>住所</h2>
<%= f.text_field :address %>
<h2>電話番号</h2>
<%= f.text_field :telephone_number %>
<h2>メールアドレス</h2>
<%= f.text_field :telephone_number %>
<h2>会員ステータス</h2>
<%= f.text_field :is_deleted %>

<%= f.submit "変更を保存" %>

<% end %>