<h1><%= @customer.name %>さんの会員詳細</h1>

<h2>会員ID</h2>
<%= @customer.id %>
<h2>氏名</h2>
<%= @customer.last_name, @customer.first_name %>
<h2>フリガナ</h2>
<%= @customer.last_name_kane, @customer.first_name_kana %>
<h2>郵便番号</h2>
<%= @customer.postal_code %>
<h2>住所</h2>
<%= @customer.address %>
<h2>電話番号</h2>
<%= @customer.telephone_number %>
<h2>メールアドレス</h2>
<%= @customer.telephone_number %>
<h2>会員ステータス</h2>
<%= @customer.is_deleted %>

<%= link_to edit_admin_customer_path(@customer.id) do %>
<h1>編集する</h1>
<% end %>