<h1>配送先登録/一覧</h1>
<%= form_with model @order_detail_new do |f| %>
<%= f.label :郵便番号(ハイフンなし) %>
<%= f.postal_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
<%= f.label :住所 %>
<%= f.address_field :shipping_address, autofocus: true, autocomplete: "shipping_address" %>
<%= f.label :宛名 %>
<%= f.address_field :shipping_name, autofocus: true, autocomplete: "shipping_name" %>

<%= f.submit "編集内容を保存" %>
<% end %>

<table>
  <thead>
    <tr colspan ="4">
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <% @order_details.each do |order_detail| %>
  <tbody>
    <tr>
      <td>
        <%= order_detail.postal_code %>
      </td>
      <td>
        <%= order_detail.shipping_address %>
      </td>
      <td>
        <%= order_detail.shipping_name %>
      </td>
      <td>
        <%= link_to "編集する", edit_order_detail_path %>
        <%= link_to "削除する", destroy_order_detail_path %>
      </td>
    </tr>
  </tbody>
</table>