<h2>注文履歴一覧</h2>

<table>
  <thead>
    <tr colspan = "6">
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= order.created_at %>
      </td>
      <td>
        <%= order.shipping_address %>
      </td>
      <td>
        <%= order.items %>
      </td>
      <td>
       <%= order.billing_amount %>
      </td>
      <td>
        <%= order.status %>
      </td>
      <td>
        <%= link_to "表示する" order_path(order_id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>